
/* Navbar styling */
.custom-nav-bg {
  background-color: #88ff66;
}

div.page {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  width: auto;
}

div.nav-box {
  margin: auto;
  display: flex;
  max-width: 500px;
}

.navbar {
  box-shadow: 0 3px 3px -3px rgb(199, 199, 199);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* home.js styling */
div.card-container {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
}

/** Game prompt styling */
div.prompt-container {
  padding: 7px;
  width: 100%;
  height: auto;
  border: #88ff66;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

/* Character styling */
a.character {
  width: auto;
  height: auto;
  font-family: Arial,serif;
  font-size: 26px;
}

a.character-space {
  width: 0.25em;
  height: auto;
  font-family: Arial,serif;
  font-size: 26px;
}