.custom-nav-bg {
  background-color: #88ff66;
}

div.container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  width: auto;
}
.navbar {

  box-shadow: 0 4px 3px -3px rgb(199, 199, 199);

  /* the rest of your styling */
}
.navbar-light .navbar-nav .nav-link {
  
}

.navbar-light .navbar-nav .nav-link.active {
  
}